<html>
<head>
    <title>pkdb :: {% block title %}search{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="/sitemedia/css/style.css" />
    <script type="text/javascript" src="/sitemedia/js/meteora/meteora.js" /></script>
    <script type="text/javascript" src="/sitemedia/js/pkdb.js"/></script>
</head>

<body>
    <div id="container">
        <div id="header">
            <div class="left">
                <div id="sitename">pkdb</div>
                <div id="tagline">find it...install it...<em>booya!</em></div>
                {% block auth%}
				<div id="auth-buttons">
                    {% if not user.is_authenticated %}

                        <button onclick ="location.href='{% url fl.auth.views.login %}'"> Sign In </button>
                        <button onclick="location.href='{% url fl.auth.views.register %}'"> Sign Up</button>

                    {% else %}
                            Welcome
                            {% if user.get_profile.is_developer%}
                                Devel
                            {% endif %}
                            {% if user.get_profile.is_community%}
                                User
                            {% endif %}
                                : {{user.username}} <a href="{% url fl.auth.views.profile %}"> Profile </a>
                            <a href="#" onclick ="location.href='{% url fl.auth.views.logout %}'">Log Out</a>
                        <div>
                            <a href="{% url fl.packages.views.list %}"> List Packages </a>
                        </div>
                    {% endif %}
                    				</div>

                    {% endblock %}

            </div>
        </div>
        <div id="main">

            {% block content %}
            {% endblock %}

        </div>
        <div id="footer">
            <p>pkdb loves open source &middot; powered by django</p>
        </div>
    </div>
</body>
</html>
